h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centerButtonClass{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.centerButtonLogClass{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    gap: 10px;
}