<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<head>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> <!--import AJAX-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Temperature Data</title>
</head>

<script>
    function clearTable()
    {
        $("#tempTable tbody tr").remove();
        $.post('/clearTemperature')
    }
</script>

<script>
    function plotTemps()
    {
        window.open('/plotTemps');
    }
</script>

<script>
    function initiateProbe()
    {
        $.post('/initiateProbe')
        alert("Probe enabled!")
    }
</script>

<script>
    function stopProbe()
    {
        $.post('/stopProbe')
        alert("Probe disabled!")
    }
</script>

<script>
    function login()
    {
        let user = prompt("Enter your username.");
        if(user == null)
        {
            alert("Login cancelled");
        }
        else
        {
            $.post('/login', data={'username' : user});
            document.getElementById("clearButton").disabled = false;
            document.getElementById("plotButton").disabled = false;
            document.getElementById("startButton").disabled = false;
            document.getElementById("stopButton").disabled = false;
            alert("Logged in.");
        }
    }

    function logout()
    {
        $.post('/logout')
        document.getElementById("clearButton").disabled = true;
        document.getElementById("plotButton").disabled = true;
        document.getElementById("startButton").disabled = true;
        document.getElementById("stopButton").disabled = true;
        alert("Logged out.")
    }
</script>

<body>
   <h1>Temperature Data</h1>
   <div class='centerButtonClass'>
       <button id="clearButton" onclick=clearTable() disabled>Clear Data</button>
       <button id="plotButton" onclick=plotTemps() disabled>Plot Data</button>
       <button id="startButton" onclick=initiateProbe() disabled>Initiate Probe</button>
       <button id="stopButton" onclick=stopProbe() disabled>Stop Probe</button>
       <button id="loginButton" onclick=login()>Login</button>
       <button id="logoutButton" onclick=logout()>Logout</button>
   </div>
   <table class='center' id='tempTable'>
       <thead>
           <th>Time</th>
           <th>Temperature (F)</th>
       </thead>
       {% for time,temp in zip(timeList,tempList) %}
       <tr>
           <td style="text-align: center">{{time}}</td>
           <td style="text-align: center">{{temp}}</td>
       </tr>
       {% endfor %}
   </table>
</body>
</html>